/* font-family: 'Oswald', sans-serif;
font-family: 'Quattrocento', serif; */
/* Fonts */
html, body {
  height: 100%;
}

body {
  background-color: #ebeae7;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  padding: 2% 0;
  font-family: 'Oswald', sans-serif;
  text-align: left;
}

h4 {
  padding: 30px 0 10px 0;
  font-family: 'Oswald', sans-serif;
}

p {
  margin: 0 0 1% 0;
  line-height: 1.5;
  font-family: 'Quattrocento', serif;
}

hr {
  margin: 0 auto;
  width: 20%;
}

/* Containers */
.content {
  flex: 1 0 auto;
}

.container-fluid {
  text-align: justify;
  padding: 4% 10%;
}

/* Welcome Screen */
.index-background {
  background-image: url(../images/bg-texture.jpg);
  background-repeat: repeat;
}

.welcome-image {
  position: fixed;
  top: 0;
  left: 0;
}

@media (max-width: 1280px) {
  .welcome-image-horizontal {
    display: none !important;
  }

  .welcome-image-vertical {
    display: block !important;
    width: 100%;
  }

  .vertical-logo {
    width: 100%;
  }

  .welcome-links {
    width: 75%;
    margin: 10% auto;
  }
}

@media (min-width: 1280px) {
  .welcome-image-horizontal {
    display: block !important;
  }

  .welcome-image-vertical {
    display: none !important;
  }

  .horizontal-logo {
    height: 100%;
  }

  .welcome-links {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 2% 5%;
  }
}

.welcome-logo {
  width: 100%;
  padding: 2% 10%;
}

.language-selector-title {
  padding: 5% 10% 2% 10%;
  color: #101010;
  text-align: left;
}

.language-selector {
  padding: 2% 5%;
  color: #101010;
  text-align: left;
}

.language-link-text {
  padding: 1% 5%;
}

.language-link {
  color: #101010;
  font-size: 1.3rem;
  font-family: 'Oswald', sans-serif;
}

/* Language Bar */
.language-bar {
  background-color: #101010;
  color: #FFFFFF;
  text-align: right;
  padding: 0.5% 5%;
  font-size: 0.8rem;
}

.language-bar-text {
  margin: 0;
  font-family: sans-serif;
}

.language-bar-link {
  color: #FFFFFF;
}

/* Navigation Bar */
.navbar {
  padding: 0.5% 5%;
  background-color: #000033;
}

.navbar-brand {
  padding-left: 1%;
}

.nav-item {
  margin: auto 0 auto 20px;
}

/* About XAIU */
#message, #campusculture {
  background-color: #000033;
  color: #FFFFFF;
}

.xaiu-numbers {
  text-align: justify;
  margin-bottom: 5%;
}

.xaiu-numbers-photo {
  border-radius: 5%;
  width: 100%;
  margin-bottom: 5%;
}

.management-leaders {
  text-align: center;
}

.management-photo {
  width: 50%;
  border-radius: 100%;
  margin: 20px;
}

.quote-text {
  font-size: 1.5rem;
  font-style: italic;
}

.quote-name {
  text-align: right;
}

.university-motto-photo {
  width: 30%;
  float: right;
  padding: 0 0 2% 5%;
}

.awards-list {
  padding-left: 20px;
}

/* Majors & Programs */
.thead-color {
  background-color: #000033;
  color: #FFFFFF;
}

.table {
  font-size: 0.8rem;
}

.majors-photo {
  width: 100%;
}

.card-majors {
  background-color: #000033;
  color: #FFFFFF;
  height: 100%;
}

.card-subtext {
  font-family: 'Quattrocento', serif;
}

/* Research */
.research-list {
  padding-left: 20px;
  padding-right: 80px;
}

.xian-info-map {
  width: 100%;
}

/* Contact */
.contact-text {
  background-color: #000033;
  color: #FFFFFF;
  padding: 5%;
}

.contact-map {
  background-color: #000033;
  color: #FFFFFF;
  padding: 0;
}

.map-xian {
  width: 100%;
}

/* Footer */
#footer {
  background-color: #101010;
  color: #FFFFFF;
  font-size: 0.8rem;
  text-align: center;
  padding: 1% 5%;
  flex-shrink: 0;
}

.social-logo {
  margin: 1%;
}

.social-link {
  color: #FFFFFF;
}
